<!DOCTYPE html>
<head>
    <title>Photo locate</title>
    <meta-charset="utf-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{path|default('')}}bootstrap/stylesheets/app.css" />
        <link rel="stylesheet" href="{{path|default('')}}bootstrap/stylesheets/styles.css" />
        <link rel="stylesheet" href="{{path|default('')}}leaflet/leaflet.css" />

    {% endblock %}
</head>
<body>

    <div id="content">

        <div ng-app="app" ng-view>
        </div>
    
    </div>

        <script type="text/javascript" src="{{path|default('')}}bootstrap/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="{{path|default('')}}leaflet/leaflet.js"></script>

        <script type="text/javascript" src="{{path|default('')}}js/angular/angular.min.js"></script>
        <script type="text/javascript" src="{{path|default('')}}js/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="{{path|default('')}}js/angular/angular-resource.min.js"></script>

        <script type="text/javascript" src="{{path|default('')}}js/app_module.js"></script>
        <script type="text/javascript" src="{{path|default('')}}js/controller/CreerPartieController.js"></script>
        <script type="text/javascript" src="{{path|default('')}}js/controller/JeuController.js"></script>

        <script type="text/javascript" src="{{path|default('')}}bootstrap/javascripts/jquery.min.js"></script>
</body>
</html>