<!DOCTYPE html>
<head>
    <title>Meilleurs scores - Photo locate</title>
    <meta-charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{path|default('')}}bootstrap/stylesheets/styles.css" />

    {% endblock %}
</head>
<body>

    <div id="content">
        <div class="row" style="margin:auto;">
            <div class="col-md-6 col-md-offset-3" style="margin-top: 40px;">
                <h1>Photo Locate <small>... un jeu super marrant !</small> </h1>
                <div class="well">
                    <div class="row" style="margin:auto;">
                        <div class="col-md-8 col-md-offset-2">
                            <h2>Meilleurs scores</h2>
                            <div class="panel panel-primary">
                                
                                <ul class="list-group">
                                    {% for score in scores %}
                                        <li class="list-group-item"><strong><big>{{score.pseudo}}</big></strong> -  {{score.score}} points - {{ville[score.id_ville]}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: auto;">
                        <div class="col-md-8 col-md-offset-2">
                            <a href="../" class="btn btn-primary" style="width:100%">Jouer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>


        <script type="text/javascript" src="{{path|default('')}}/bootstrap/javascripts/jquery.min.js"></script>
</body>
</html>