body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}

.miniature {
    max-width: 135px !important;
    height: auto;
}

#game-container {
    width: 40%;
    margin:auto;
    text-align: center;
    padding-top: 5px;
}
#game-container h3 {
    text-align: left;
}

#map {
}
@media screen and (max-width: 995px) {
    #map {
        height: 500px !important; 
    }
}

#photo img {
    width: auto;
    max-height: 500px;
}

.btn-quitter {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
}

