{% extends 'admin/main.html.twig' %}
{% set path = './' %}
{% set titre = 'Administrateur' %}
{% block main_content %}
    <a href="admin/logout" class="btn btn-default" style="position:absolute; top: 5px; right:5px;">Deconnexion</a>
    <ul id="dashboardTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#photo" id="photo-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Ajouter une photo</a></li>
      <li role="presentation"><a href="#ville" id="ville-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Ajouter une ville</a></li>
      <li role="presentation"><a href="#params" role="tab" id="params-tab" data-toggle="tab" aria-controls="profile">Paramètres</a></li>

    </ul>
    <div id="dashboardTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="photo" aria-labelledBy="photo-tab">
        <p>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 well" style="margin-top: 40px;">
                    <form class="form-horizontal" enctype="multipart/form-data" id="form_ajout_photo" method="post" action="#">
                        <input type="hidden" name="action" value="photo">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ville</label>
                            <div class="col-sm-10">
                                <select name="ville" id="photo_ville" class="form-control">
                                    {% for vi in villes %}
                                        <option value="{{vi.id}}">{{vi.nom}}</option>
                                    {% endfor %}  
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Photo</label>
                            <div class="col-sm-10">
                                <input type="file" name="photo_file" id="file_photo" accept=".jpg, .jpeg" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lattitude</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" name="lat" step="0.000001" placeholder="Lattitude de la photo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Longitude</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" name="lon" step="0.000001" placeholder="Longitude de la photo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Ajouter</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Photos ajoutées</h2>
                    <ul id="liste_villes_photo">
                        {% for vi in villes %}
                            <li data-id="{{vi.id}}">{{vi.nom}} : <u style="cursor: pointer">{{photos[vi.id]}} photo{% if photos[vi.id] > 1 %}s{% endif %}</u></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="ville" aria-labelledBy="params-tab">
        <p>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 well" style="margin-top: 40px;">
                    <div class="alert alert-danger alert-ville" style="display:none;">
                        <strong>Erreur !</strong> Cette ville existe déjà.
                    </div>
                    <form class="form-horizontal" id="form_ajout_ville" method="post" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" id="nom_ville" class="form-control" name="pseudo" placeholder="Nom de la ville" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lattitude</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" name="lat" id="lat_ville" step="0.000001" placeholder="Lattitude de la ville" required>    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Longitude</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" name="lon" id="lon_ville" step="0.000001" placeholder="Longitude de la ville" required>    
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Ajouter</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Liste des villes</h2>
                    <ul id="liste_villes">
                        {% for vi in villes %}
                            <li>{{vi.nom}} ({{vi.geolocalisation}})</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="params" aria-labelledBy="params-tab">
        <p>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 well" style="margin-top: 40px;">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Difficulté</label>
                            <div class="col-sm-10">
                                <select name="difficulte" id="difficulte" class="form-control">
                                    {% for di in difficultes %}
                                        <option value="{{di.id}}">{{di.difficulte}}</option>
                                    {% endfor %}  
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr style="border:1px solid #ddd;">
                    <h2>Réglage de la distance D</h2>
                    <form class="form-horizontal" id="form_distance" method="post" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Distance D</label>
                            <div class="col-sm-10">
                                <input type="number" name="distance" id="distance_d" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Appliquer</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Réglage du nombre de photos par partie</h2>
                    <form class="form-horizontal" id="form_nb_photo" method="post" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre de photos</label>
                            <div class="col-sm-10">
                                <input type="number" name="nb_photos" id="nb_photos" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Appliquer</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Réglage du temps par réponse</h2>
                    <form class="form-horizontal" id="form_temps" method="post" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Temps par réponse</label>
                            <div class="col-sm-10">
                                <input type="number" name="temps_reponse" id="temps_reponse" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Appliquer</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <h2>Réglage du zoom</h2>
                    <form class="form-horizontal" id="form_zoom" method="post" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Zoom</label>
                            <div class="col-sm-10">
                                <input type="number" name="zoom" id="zoom" step="0.01" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Appliquer</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </p>
      </div>

    </div>
<div class="modal fade" id="modal-photos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-photos-title"></h4>
            </div>
            <div class="modal-body" id="modal-photos-content">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $(":file").filestyle({

    });
    $('#dashboardTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });

    //ajouter une ville
    $('#form_ajout_ville').submit(function (e) {
        $('.alert-ville').css('display', 'none');
        e.preventDefault();
        if ($('#nom_ville').val() != "") {
            $.ajax({
                type: "POST",
                url: "api/admin/ville_exist",
                data: { ville: $('#nom_ville').val() }
            })
            .done(function (msg) {
                if (msg.resultat == true) {
                    //ville existe deja
                    $('.alert-ville').css('display', '');
                } else {
                    $.ajax({
                        type: "POST",
                        url: "api/admin/ajout_ville",
                        data: { ville: $('#nom_ville').val(), lat: $('#lat_ville').val(), lon: $('#lon_ville').val()}
                    });
                    $('#liste_villes').append("<li>"+ $('#nom_ville').val() +" (" + $('#lat_ville').val() + ";" + $('#lon_ville').val() + ")</li>");
                    $('#nom_ville').val("");
                    $('#nom_ville').focus();
                }
            });
        }
    });

    //reglage de la distance D
    $.ajax({
        type: "POST",
        url: "api/admin/distance_difficulte",
        data: { difficulte: $('#difficulte').val()}
    })
    .done(function (msg) {
        if (msg.statut == 200) {
            $('#distance_d').val(msg.resultat);
        }
    });
    
    $('#form_distance').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "api/admin/set_distance_difficulte",
            data: { difficulte: $('#difficulte').val(), distance : $('#distance_d').val() }
        })
        .done(function (msg) {
            alert('Distance D modifiée !');
        });
    });

    //reglage nb de photos par partie
    $.ajax({
        type: "POST",
        url: "api/admin/nbphotos_difficulte",
        data: { difficulte: $('#difficulte').val()}
    })
    .done(function (msg) {
        if (msg.statut == 200) {
            $('#nb_photos').val(msg.resultat);
        }
    });
    
    $('#form_nb_photo').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "api/admin/set_nbphotos_difficulte",
            data: { difficulte: $('#difficulte').val(), nombre : $('#nb_photos').val() }
        })
        .done(function (msg) {
            alert('Nombre de photos modifié !');
        });
    });

    //reglage temps de reponse
    $.ajax({
        type: "POST",
        url: "api/admin/tempsreponse_difficulte",
        data: { difficulte: $('#difficulte').val()}
    })
    .done(function (msg) {
        if (msg.statut == 200) {
            $('#temps_reponse').val(msg.resultat);
        }
    });
    $('#form_temps').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "api/admin/set_tempsreponse_difficulte",
            data: { difficulte: $('#difficulte').val(), temps : $('#temps_reponse').val() }
        })
        .done(function (msg) {
            alert('Temps de réponse modifié !');
        });
    });

    //reglage zoom
    $.ajax({
        type: "POST",
        url: "api/admin/zoom_difficulte",
        data: { difficulte: $('#difficulte').val()}
    })
    .done(function (msg) {
        if (msg.statut == 200) {
            $('#zoom').val(msg.resultat);
        }
    });
    $('#form_zoom').submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "api/admin/set_zoom_difficulte",
            data: { difficulte: $('#difficulte').val(), zoom : $('#zoom').val() }
        })
        .done(function (msg) {
            alert('Zoom modifié !');
        });
    });

    $('#difficulte').on('change', function () {
        $.ajax({
            type: "POST",
            url: "api/admin/distance_difficulte",
            data: { difficulte: $('#difficulte').val()}
        })
        .done(function (msg) {
            if (msg.statut == 200) {
                $('#distance_d').val(msg.resultat);
            }
        });
        $.ajax({
            type: "POST",
            url: "api/admin/nbphotos_difficulte",
            data: { difficulte: $('#difficulte').val()}
        })
        .done(function (msg) {
            if (msg.statut == 200) {
                $('#nb_photos').val(msg.resultat);
            }
        });
        $.ajax({
            type: "POST",
            url: "api/admin/tempsreponse_difficulte",
            data: { difficulte: $('#difficulte').val()}
        })
        .done(function (msg) {
            if (msg.statut == 200) {
                $('#temps_reponse').val(msg.resultat);
            }
        });
        $.ajax({
            type: "POST",
            url: "api/admin/zoom_difficulte",
            data: { difficulte: $('#difficulte').val()}
        })
        .done(function (msg) {
            if (msg.statut == 200) {
                $('#zoom').val(msg.resultat);
            }
        });
    });

    //details photos ville
    $('#liste_villes_photo>li').on('click', function (e) {
        var text = $(this).text();
        $.ajax({
            type: "GET",
            url: "api/photos/"+$(this).attr('data-id'),

        })
        .done(function (msg) {
            $('#modal-photos-title').html(text);
            var contenu = "";
            msg.photos.forEach(function (pho) {
                contenu += "<img src=\"photo/"+pho.nom + "\"><br /><h3>Géolocalisation</h3> <strong>Latitude : </strong>" + pho.latitude +"<br /><strong>Longitude : </strong>" + pho.longitude + "<hr />";
            });
            $('#modal-photos-content').html(contenu);
            $('#modal-photos').modal('show');
        });
        
    });

});

</script>
{% endblock %}