<!DOCTYPE html>
<head>
    <title>{{ titre|default('') }} - PhotoLocate</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{path|default('')}}bootstrap/stylesheets/styles.css">
        <script type="text/javascript" src="{{path|default('')}}bootstrap/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="{{path|default('')}}bootstrap/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="{{path|default('')}}bootstrap/javascripts/filestyle.min.js"></script>
    {% endblock %}
</head>
<body>
    <div id="content" style="margin:5px;">
    {% block main_content %}
    {% endblock %}
    </div>
</body>
</html>