{% extends 'admin/main.html.twig' %}
{% set path = '../' %}
{% set titre = 'Inscription administrateur' %}
{% block main_content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 40px;">
        <div class="page-header">
          <h1>Inscription</h1>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 well">
        {% if error %}
        <div class="alert alert-danger">
            {{ error|raw }}
        </div>
        {% endif %}
        <form class="form-horizontal" method="post" action="#">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Pseudo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="pseudo" placeholder="Pseudo" {% if pseudo %}value="{{pseudo}}"{% endif %} required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Mot de passe</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Confirmation du mot de passe</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirmation du mot de passe" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Inscription</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}