
<div class="row" style="margin:auto;">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 40px;">
        <h1>Photo Locate <small>... un jeu super marrant !</small> </h1>
        <div class="well">
            <div class="row" style="margin:auto;">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Nouvelle partie<a href="scores" class="btn btn-info" style="position: absolute; right: 20px">Meilleurs scores</a></h1>
                    <form method="post" class="form-horizontal" ng-submit="creer()">
                        <div class="panel panel-primary" style="background-color: #f5f5f5">
                            <ul class="list-group">
                                <li class="list-group-item" style="border-color:#337ab7;background-color: #f5f5f5">
                                    <div id="pseudo" class="form-group">
                                        <label class="col-sm-2 control-label" for="pseudo">Pseudo</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" placeholder="Entrez un pseudo" type="text" name="pseudo" ng-model="pseudo" required>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="border-color:#337ab7;background-color: #f5f5f5">
                                    <h3>Choisissez vos paramètres</h3>
                                    <br>
                                    <div id="ville" class="form-group">
                                        <label class="col-sm-2 control-label" for="ville">Ville</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="ville" ng-model="ville" required>
                                                <option value="" selected>Sélectionnez une ville</option>
                                                <option ng-repeat="v in villes" value="{{v.id}}">{{v.nom}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div id="difficulte" class="form-group">
                                        <label class="col-sm-2 control-label" for="difficulte">Difficulté</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="difficulte" ng-model="difficulte" required>
                                                <option value="" selected>Sélectionnez une difficulté</option>
                                                <option ng-repeat="d in difficultes" value="{{d.id}}">{{d.difficulte}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="border-color:#337ab7;background-color: #f5f5f5">
                                    <button id="start" style="width:100%" class="btn btn-primary">Lancer la partie !</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer style="padding-top: 40px;padding-bottom: 40px;margin-top: 100px;color: #767676;text-align: center;border-top: 1px solid #e5e5e5;">
    <a href="admin">Administration</a>
</footer>

