
<a href="./"><button class="btn btn-danger btn-quitter">Quitter</button></a>
<div class="row">
    <div id="map" class="col-md-7">

    </div>
    
    <div id="game-container" class="col-md-5">
        <div class="panel panel-primary" >
            <ul class="list-group">
                <li class="list-group-item" style="border-color:#337ab7;">
                    <h3 style="text-align:center">Score : {{score_total}} points</h3>
                </li>
                <li class="list-group-item" style="border-color:#337ab7;">
                    <h3 style="text-align:center">Photo {{current_etape}}</h3>
                </li>
                
                <li class="list-group-item" style="border-color:#337ab7;">
                    <h3>Temps</h3>
                    <div id="temps_progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{temps | number : 1}}" style="width: {{temps_percent | number : 1}}%;max-width:100%">
                                {{temps | number : 1}} sec
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" style="border-color:#337ab7;">
                    <div id="resultat">
                        

                    </div>
                    <div id="photo">
                        <img ng-model="photo" src="{{photo.link}}">
                    </div>
                </li>
        	</ul>
        </div>

    </div>
</div>
